# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Production
build

# Misc
.DS_Store
*.pem

# Debug
*.log

# Env
.env
.env*.local

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
logs
*.log
